---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const pageTitle = "About This Site";
---

<Layout pageTitle={pageTitle}>
  <div class="flex flex-col md:flex-row">
    <!-- Image -->
    <Image
      width={50}
      height={50}
      src="https://images.unsplash.com/photo-1601266289415-e7339a97d19b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      class="h-full w-full md:w-1/2 object-cover"
      alt="Guitar setup"
    />
    <!-- Text Overlay -->
    <div
      class="flex flex-col justify-center items-center p-6 md:p-12 text-center"
    >
      <div class="mx-auto max-w-3xl">
        <h2 class="text-xl sm:text-2xl font-bold mb-4">
          Welcome to the Guitar Setup Community!
        </h2>
        <p class="text-base mb-4 leading-relaxed">
          This website is a community-driven platform where guitar enthusiasts
          can share their unique guitar setups, rigs, and gear collections.
        </p>
        <p class="text-base mb-4 leading-relaxed">
          Whether you're a beginner or a seasoned pro, we encourage you to post
          your setup and explore what others are using. Get inspired, exchange
          ideas, and connect with like-minded musicians from all over the world!
        </p>
        <p class="text-base mb-6 leading-relaxed">
          Join us today, and let's build a space where guitarists can learn,
          share, and grow together!
        </p>
        <!-- <a
          href="/submit-gear"
          class="inline-block bg-yellow-400 text-primary dark:text-secondary py-3 px-8 rounded-md text-lg sm:text-xl font-semibold hover:bg-yellow-400/85 transition-colors shadow-lg hover:shadow-xl"
        >
          Share Your Setup
        </a> -->
      </div>
    </div>
  </div>
</Layout>
